@font-face {
    font-family: 'Rota';
    src: url('rota/Rota Complate Family/Rota-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rota SemiBold';
    src: url('rota/Rota Complate Family/Rota-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

a:focus, a:active, a:hover,
button:focus, button:active, button:hover {
    outline: none;
    text-decoration: none;
    color: inherit;
}

:root {
    --background-color: #fbfbfb;
    --text-color: #141414;
    --link-color: none;
    --border-color: #141414;
    --bottom-nav-bg-color: rgba(216, 216, 216, 0.7);
}

body {
    margin: 0;
    font-family: 'Rota', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

img {
    margin-left: 15px;
    margin-right: 15px;
}

h1, h2, h3, h4, h5 {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Rota', sans-serif;
}

.rounded-img {
    border: 2px solid var(--border-color);
    border-radius: 25px;
}

.responsive-img {
    max-width: 90%;
    height: auto;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--bottom-nav-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: var(--text-color);
}

.bottom-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.bottom-nav li {
    flex: 1;
    text-align: center;
    padding: 10px 0;
}

.bottom-nav a {
    color: #141414;
    text-decoration: none;
    text-align: center;
    flex: 1;
    padding: 10px 0;
}

.bottom-nav a i {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.bottom-nav * {
    margin-left: 0;
    margin-right: 0;
}

.icon {
    font-size: 24px;
    color: #141414;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #fbfbfb;
        --text-color: #141414;
        --link-color: none;
        --border-color: #141414;
        --bottom-nav-bg-color: rgba(216, 216, 216, 0.7);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #141414;
        --text-color: #fbfbfb;
        --link-color: none;
        --border-color: #fbfbfb;
        --bottom-nav-bg-color: rgba(7, 7, 7, 0.7);
    }
}