@font-face {
    font-family: 'Rota';
    src: url('rota/Rota Complate Family/Rota-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rota SemiBold';
    src: url('rota/Rota Complate Family/Rota-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

a:focus, a:active, a:hover,
button:focus, button:active, button:hover {
    outline: none;
    text-decoration: none;
    color: inherit;
}

:root {
    --background-color: #fbfbfb;
    --text-color: #141414;
    --link-color: none;
    --border-color: #141414;
    --bottom-nav-bg-color: rgba(216, 216, 216, 0.7);
    --icon-color: #141414;
    --shadow-color: rgba(3, 3, 3, 0.5);
    --image-size: 100%;
}

.icon-link {
    display: grid;
    grid-template-rows: auto auto; /* Два ряда: один для иконки, другой для текста */
    justify-items: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    text-decoration: none; /* Убрать подчеркивание ссылки */
    color: var(--text-color); /* Цвет текста */
    width: auto; /* Или нужная вам ширина */
    height: 30px; /* Или нужная вам высота */
    text-align: center; /* Центрирование текста */
    margin-bottom: 10px;
}

.icon-home {
    width: 25px;
    height: 25px;
    background-image: url('svg/icons/home.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 4px; /* Отступ между иконкой и текстом */
    align-self: center; /* Выравнивание иконки по центру своей ячейки */
}

.icon-artists {
    width: 24px;
    height: 24px;
    background-image: url('svg/icons/artists.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 4px; /* Отступ между иконкой и текстом */
    align-self: center; /* Выравнивание иконки по центру своей ячейки */
}

.icon-citfm {
    width: 24px;
    height: 24px;
    background-image: url('svg/icons/citfm.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 4px; /* Отступ между иконкой и текстом */
    align-self: center; /* Выравнивание иконки по центру своей ячейки */
}

.icon-shop {
    width: 24px;
    height: 24px;
    background-image: url('svg/icons/shop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 4px; /* Отступ между иконкой и текстом */
    align-self: center; /* Выравнивание иконки по центру своей ячейки */
}

.icon-profile {
    width: 24px;
    height: 24px;
    background-image: url('svg/icons/profile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 4px; /* Отступ между иконкой и текстом */
    align-self: center; /* Выравнивание иконки по центру своей ячейки */
}

a {
    align-items: center;
    outline: none;
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: 'Rota', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-bottom: 50px;
}

img {
    margin-left: 15px;
    margin-right: 15px;
}

h2, h3, h4, h5 {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Rota', sans-serif;
}

h1 {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Rota SemiBold', sans-serif;
}

.rounded-img {
    border: 2px solid var(--border-color);
    border-radius: 25px;
}

.responsive-img {
    max-width: 90%;
    height: auto;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--bottom-nav-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: var(--text-color);
    font-family: 'Rota', sans-serif;
    z-index: 100;
}

.bottom-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.bottom-nav li {
    flex: 1;
    text-align: center;
    padding: 10px 0;
}

.bottom-nav a {
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    flex: 1;
    padding: 10px 0;
}

.bottom-nav a i {
    display: block;
    font-size: 20px;
    margin-bottom: 0px;
}

.bottom-nav * {
    margin-left: 0;
    margin-right: 0;
}

.margin-top {
    margin-top: -10px;
}

.shadow {
    box-shadow: 0 4px 8px var(--shadow-color);
}

.profile-card {
    width: 90%;
    max-width: 500px;
    height: 200px;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 8px var(--shadow-color);
    position: relative;
    background: var(--background-color);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;

}

.profile-card-background {
    position: relative;
    width: 100%;
    height: 150px;
}

.background-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: -15px;
    filter: grayscale(100%);
}

.profile-card-content {
    padding: 20px;
    text-align: center;
    position: relative;
    color: var(--text-color);
    height: 100%;
    box-sizing: border-box;
}

.avatar-container {
    position: relative;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -130px; /* Move avatar up to overlap background */
    z-index: 1;
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: var(--image-size);
    height: var(--image-size);
    object-fit: cover;
    overflow: hidden;
    transform: scale(1.55) translateY(10px);
}

.nickname {
    font-size: 1.5em;
    margin: 0px 0;
    margin-top: 10px;
    font-family: 'Rota SemiBold';
}

.description {
    color: var(--text-color);
    margin: 4px;
}

.gradient-overlay-girl {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(
        rgba(200, 162, 200, 0.2),
        rgba(200, 162, 200, 1)
    );
}

.gradient-overlay-boy {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(
        rgba(137, 172, 118, 0.2),
        rgba(137, 172, 118, 1)
    );
}

@media (prefers-color-scheme: light) {
    :root {
      --background-color: #fbfbfb;
      --text-color: #141414;
      --link-color: none;
      --border-color: #141414;
      --bottom-nav-bg-color: rgba(216, 216, 216, 0.7);
      --icon-color: #141414;
    }
  
    .icon-home,
    .icon-artists,
    .icon-citfm,
    .icon-shop,
    .icon-profile {
      filter: invert(0) sepia(0) saturate(7500%) hue-rotate(0deg) brightness(0%) contrast(100%);
    }
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #141414;
      --text-color: #fbfbfb;
      --link-color: none;
      --border-color: #fbfbfb;
      --bottom-nav-bg-color: rgba(7, 7, 7, 0.7);
      --icon-color: #fbfbfb;
    }
  
    .icon-home,
    .icon-artists,
    .icon-citfm,
    .icon-shop,
    .icon-profile {
      filter: invert(1) sepia(0) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
  }
  