@font-face {
    font-family: ThatThatNewPixel;
    src: url(FONTS/thatthatnewpixelfamilytest-italicsquare.otf);
}

@font-face {
    font-family: SFPro;
    src: url(FONTS/SFProDisplay-Regular.ttf);
}

@font-face {
    font-family: SFProBold;
    src: url(FONTS/SFProDisplay-Bold.ttf);
}

body {
    font-family: SFPro;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-bottom: 50px;
    margin: 0px;
    margin-top: 0;
}

.text {
    margin-left: 15px;
    margin-top: -3px;
}

.bold {
    font-family: SFProBold;
}

.container {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.onstage_text {
    font-size: 15px;
    margin-top: 3px;
}

.updates_os {
    margin-top: 5px;
}

.line {
    background-color: var(--line_color);
    height: 2px;
    width: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 50%;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
}

.row-onstage-photo {
    display: flex;
    justify-content: space-between;
}


.quote {
    background-color: var(--quote_color);
    backface-visibility: hidden;
    padding: 10px;
    border-radius: 15px;
}

.quote_photo {
    border-radius: 5px;
}

.quote_photo_r {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.quote_photo_l {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.citfm-text {
    margin-bottom: 25px;
}

.title-text-home {
    font-family: ThatThatNewPixel;
    font-size: 35px;
    font-weight: 500;
    text-shadow: #1074c2 0px 1px;
}

.title_text {
    font-size: 24px;
    margin-left: 10px;
    margin-top: -5px;
}

.title2 {
    font-size: 22px;
    margin-top: 10px;
}

.banner-text {
    font-size: 15px;
    margin-top: 6px;
}

.open_date {
    font-size: 85%;
    color: var(--light-text);
    margin-top: 3px;
}

.banner-text-home {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.banner-img {
    width: 100vw;
    height: auto;
}

.banner {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.artist-container {
    display: flex;
    margin-top: 15px;
    padding-bottom: 5px;
    row-gap: center;
}

.artist-photo {
    width: 17vw;
    height: 17vw;
    clip-path: circle(50% at 50% 50%);
}

.channel_name {
    font-size: 19px;
}

a, a:focus, a:active, a:hover,
button:focus, button:active, button:hover {
    outline: none;
    text-decoration: none;
    color: #1549ae;
}

.textmargin {
    margin-top: 10px;
}

.prequote_bold {
    font-family: SFProBold;
    margin-top: 15px;
}

.main {
    display: flex;
    margin-top: 10%;
}

:root {
    --background-color: #fbfbfb;
    --text-color: #040404;
    --link-color: none;
    --border-color: #040404;
    --bottom-nav-bg-color: rgba(255, 255, 255, 0.7);
    --icon-color: #040404;
    --shadow-color: rgba(1, 1, 1, 0.5);
    --image-size: 100%;
    --product-card: #fbfbfb;
    --light-text: #525252;
    --quote_color: #e7e7e7;
    --line_color: rgba(255, 255, 255, 0.4);
    --pink: #ffcdda;
    --blue: #1074c2;
}

.icon-left {
    color: #3741c9;
    text-decoration: none;
}

.icon-link {
    font-family: 'Pretendart', sans-serif;
    display: grid;
    grid-template-rows: auto auto; /* Два ряда: один для иконки, другой для текста */
    justify-items: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    text-decoration: none; /* Убрать подчеркивание ссылки */
    color: var(--text-color); /* Цвет текста */
    width: auto; /* Или нужная вам ширина */
    height: 30px; /* Или нужная вам высота */
    text-align: center; /* Центрирование текста */
    margin-bottom: 10px;
}

.icon-home {
    width: 25px;
    height: 25px;
    background-image: url('svg/icons/home.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 4px; /* Отступ между иконкой и текстом */
    align-self: center; /* Выравнивание иконки по центру своей ячейки */
}

.icon-artists {
    width: 24px;
    height: 24px;
    background-image: url('svg/icons/artists.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 4px; /* Отступ между иконкой и текстом */
    align-self: center; /* Выравнивание иконки по центру своей ячейки */
}

.icon-citfm {
    width: 24px;
    height: 24px;
    background-image: url('svg/icons/citfm.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 4px; /* Отступ между иконкой и текстом */
    align-self: center; /* Выравнивание иконки по центру своей ячейки */
}

.icon-onstage {
    width: 24px;
    height: 24px;
    background-image: url('svg/icons/onstage.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 4px; /* Отступ между иконкой и текстом */
    align-self: center; /* Выравнивание иконки по центру своей ячейки */
}

.icon-related {
    width: 24px;
    height: 24px;
    background-image: url('svg/icons/related.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 4px; /* Отступ между иконкой и текстом */
    align-self: center; /* Выравнивание иконки по центру своей ячейки */
}

.header {
    position: sticky;
    margin-bottom: 10px;
    display: flex;
}

::selection {
    color: var(--pink);
    background-color: var(--blue);
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--bottom-nav-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: var(--text-color);
    font-family: 'Rota', sans-serif;
    z-index: 100;
    backdrop-filter: blur(3px);
}

.bottom-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.bottom-nav li {
    flex: 1;
    text-align: center;
    padding: 10px 0;
}

.bottom-nav a {
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    flex: 1;
    padding: 10px 0;
}

.bottom-nav a i {
    display: block;
    font-size: 20px;
    margin-bottom: 0px;
}

.bottom-nav * {
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 767px) {
    .banner-img{
        max-width: 100%;
    }
    .quote_photo{
        max-width: 100%;
    }
}